<!-- _includes/giscus.html -->
<div id="comments">
    <script src="https://giscus.app/client.js"
            data-repo="Jonghwan-dev/Jonghwan-dev.github.io"
            data-repo-id="R_kgDOM_hI5g"
            data-category="blog-comments"
            data-category-id="DIC_kwDOM_hI5s4CpnEr"
            data-mapping="pathname"
            data-strict="0"
            data-reactions-enabled="1"
            data-emit-metadata="0"
            data-input-position="bottom"
            data-theme="catppuccin_latte"
            data-lang="ko"
            crossorigin="anonymous"
            async>
    </script>
  </div>